body{
    margin: 5px;
    background-color: #9932CC;
}

.box{
    display: grid;
    grid-template-areas: "menuE topo menuD"
                         "menuE corpo menuD"
                         "menuE rodape menuD";
    grid-template-rows: 100px 535px 90px;
    grid-template-columns: 300px 1fr 300px;
}

.menuE{
    background-color: #DA70D6;
    grid-area: menuE;
    display: grid;
    grid-template-areas: "img"
                         "disciplinas"
                         "c3";
    grid-template-rows: 180px 200px 20px;
    grid-template-columns: 300px;
}

.topo{
    background-color: #DDA0DD;
    grid-area: topo;
    height: 100px;
    display: grid;
    grid-template-areas: "musica escola objetivo";
    grid-template-rows: 100px;
    grid-template-columns: 100px;
    text-align: center;
}

.corpo{
    background-color: #7c41a1;
    grid-area: corpo;
    height: 535px;
}

.menuD{
    background-color: #EE82EE;
    color: #330133;
    grid-area: menuD;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.rodape{
    background-color: #BA55D3;
    color: #2c012c;
    grid-area: rodape;
    height: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.img{
    grid-area: img;
}

.disciplinas{
    background-color: #9d14d8;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 992px){
    .box{
        grid-template-columns: 100%;
        grid-template-areas: "topo"
                             "menuE"
                             "corpo"
                             "menuD"
                             "rodape";
        grid-template-rows: 50px 150px;
    }

    .menuE{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }

    .img, .disciplinas, .c3{
        margin: 0;
        border: solid 1px white;
        width: 49%;
        display: flex;
        flex-direction: wrap;
        text-align: right;
    }

    .img{
        width: 350px;
        height: 100px;
    }

    .disciplinas{
        width: 350px;
        height: 100px;
    }

    .c3{
        width: 350px;
        height: 100px;
    }

    .rodape{
        display: flex;
        flex-direction: wrap;
        text-align: center;
    }

    .menuD{
        text-align: center;
        display: flex;
        flex-direction: wrap;
    }
}
